.progress-circle-holder {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
}

.progress-background {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 8;
}

.progress {
    fill: none;
    stroke: #1e90ff;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 282.74;
    stroke-dashoffset: 282.74;
    animation: progressAnimation 5s ease-out forwards;
}

.progress-vertical-holder {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.progress-vertical {
    width: 3vh;
    height: 20vh;
    border: 0.2vh solid #1e90ff;
    position: relative;
    border-radius: 1.5vh;
    overflow: hidden;
}

.progress-bar-vertical {
    width: 3vh;
    height: 0px;
    background-color: #1e90ff;
    position: absolute;
    bottom: 0;
}

.progress-vertical-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.progress-horizontal-holder {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.progress-horizontal {
    width: 25vh;
    height: 3vh;
    position: relative;
    border: 0.2vh solid #1e90ff;
    border-radius: 0.5vh;
    overflow: hidden;
}

.progress-bar-horizontal {
    width: 0;
    height: 100%;
    background-color: #1e90ff;
    position: absolute;
    left: 0;
}

.progress-horizontal-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.progress-circle-holder, .progress-vertical-holder, .progress-horizontal-holder {
    position: absolute;
}